html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: lighter;
}

img {
  width: 100%;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

strong {
  font-weight: normal;
}

dt {
  font-weight: bold;
}

ol {
  list-style-type: lower-greek;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

nav ol {
  list-style-type: none;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
}

figcaption {
  text-align: center;
  font-style: italic;
}

blockquote p {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

.ptsans {
  font-family: "PT Sans";
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

.ptserif {
  font-family: "PT Serif";
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.125rem;
}

.italic {
  font-style: italic;
}

.fontsize {
  font-size: 1.125rem;
}
